.time-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.time-picker-commun {
    font-size: 14px;
    height: 20px;
    display: flex;
    align-items: center;
    color: rgb(40, 40, 40);
    font-weight: 500;
}

.time-picker {
    min-width: 0;
    width: 2ch;
}

.flex-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}