.note-expanded-text {
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    color: #d8d8d8;
    padding: 3px 6px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 82.1px;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    user-select: none;
    background-color: rgba(211, 211, 211, 0.158);
}

.expanded-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}