.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 40px repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid rgb(173, 173, 173);
    background-color: #8FAcbd;
}

.time {
    border-top: none;
    border-bottom: none;
    background-color: #F7F5F0;
}

.day {
    font-weight: 500;
    font-size: 15px;
    color: #2C2C2A
}

.date {
    font-weight: 700;
    font-size: 15px;
    color: #222220
}

.date--current {
    background-color: #2C2C2A;
    color: white;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .day {
        font-weight: 400;
        font-size: 10px;
    }

    .date {
        font-weight: 500;
        font-size: 12px;
    }

    .date--current {
        width: 20px;
        height: 20px;
    }
}