/* Modal */

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    background: white;
    border-radius: 12px;
    width: 100%;
    max-width: 440px;
}

.modal-content input:focus {
    outline: none;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 18px;
    font-weight: 700;
    color: #2C2C2A;
    user-select: none;
    cursor: default;
}

.modal-title-container {
    background-color: #8FAcbd;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(173, 173, 173);
    gap: 1rem;
}

.modal-content-containter {
    padding-inline: 1.5rem;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Commun */
.section-column {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.section-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.section-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.section-label {
    font-size: 14px;
    font-weight: 500;
    color: #2C2C2A;
    user-select: none;
    cursor: default;
}

.section-text {
    font-size: 15px;
    font-weight: 500;
    color: #2C2C2A;
}

.section-input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.section-button {
    padding-block: 5px;
    padding-inline: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
    color: #2C2C2A;
}

.section-button:hover {
    border: 1px solid rgb(173, 173, 173);
}

.section-input:hover {
    border: 1px solid rgb(173, 173, 173);
}

.section-icon {
    width: 20px;
    cursor: pointer;
    stroke-width: 1.1px;
    color: #2C2C2A;
}

.section-error {
    display: flex;
    align-items: center;
    color: red;
    padding-inline: 5px;
    font-size: 12px;
}

.border-error {
    border: 1px solid red;
}

.user-select-none {
    user-select: none;
}

.description-input {
    min-height: 100px;
    resize: vertical;
    line-height: 1.5;
    font-family: inherit;
    font-size: 15px;
    color: #2C2C2A;
}

.modal-content textarea:focus {
    outline: none;
}

/* button */
.remove-button {
    background-color: #C0392B;
}

.confirm-button {
    background-color: #4A7C99;
}