.note-list {
    scrollbar-width: thin;
    scrollbar-color: #D3D1C7 transparent;
}

.note-list::-webkit-scrollbar {
    width: 4px;
}

.note-list::-webkit-scrollbar-track {
    background: transparent;
}

.note-list::-webkit-scrollbar-thumb {
    background-color: #D3D1C7;
    border-radius: 999px;
}

.note-list::-webkit-scrollbar-thumb:hover {
    background-color: #888780;
}