.date-picker {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
}

.date-picker-input {
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.date-calendar-icon {
    width: 20px;
    height: 20px;
}

.date-picker-container input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: rgb(40, 40, 40);
    min-width: 0;
    width: 2ch;
    padding: 0;
}

.date-picker-container input:first-child {
    width: 4ch;
}

.default-cursor {
    cursor: default;
}