body.is-resizing .task {
    filter: none !important;
    box-shadow: none !important;
    cursor: ns-resize !important;
}

body.is-resizing .task-text {
    cursor: ns-resize !important;
}

body.is-resizing .visual-resize-bar {
    opacity: 0 !important;
}